html,
body {
    margin: 0;
    font-size: 14px;
    font-family: roboto, sans-serif;
    background: #fff;
    color: #fff;
}

body a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover,
a:active,
a:focus {
    color: #deac47;
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.container {
    width: 850px;
}

.overpay {
    background: #000000c2;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 20;
    top: 0;
}


/*check box*/


/* Create a custom checkbox */

.checked-custom {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ddac46;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #ddac46;
    border-radius: 5px;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 7.5px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*end checkbox*/

.header {
    position: relative;
    background: transparent url(../img/bg-header.png) center repeat-x;
    height: 140px;
    position: relative;
    z-index: 10;
}

.header .container {
    width: 1170px;
}

.header-w3left {
    float: left;
    padding-top: 30px;
    font-size: 12px;
}

.bg-money {
    margin-top: -10px;
    background: url(../img/bg-money.png) no-repeat;
    width: 136px;
    height: 57px;
    display: inline-block;
    text-align: center;
    line-height: 57px;
    text-indent: 40px;
    margin-left: 10px;
    font-weight: bold;
}

.header-w3right {
    padding-top: 35px;
    float: right;
}

.header-w3right ul li {
    list-style-type: none;
    display: inline-block;
}

.header-w3right ul li span {
    margin-right: 6px;
    top: 2px;
}

.header-w3right ul li:nth-child(2),
.header-w3right ul li:nth-child(4) {
    color: #fff;
    margin: 0 10px;
}

.header-w3right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.header-w3right .dropdown a {
    font-size: 14px;
    color: #fff;
}

.header-w3right .dropdown-menu {
    padding: 10px;
}

.header-w3right .dropdown-menu:before {
    content: '';
    position: absolute;
    top: -13px;
    left: 44%;
    border: 7px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #ffffff;
    border-left-color: transparent;
}

.header-w3right .dropdown-menu a {
    color: #000;
    display: block;
    border-bottom: 1px dotted #89040417;
    padding: 7px 0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
}

.fa-power-off {
    background: url(../img/fa-power-off.png) no-repeat;
    display: block;
    width: 17px;
    height: 16px;
    float: left;
    margin-right: 3px;
}

.fa-power-off-white {
    background: url(../img/fa-power-off-white.png) no-repeat;
    background-size: cover;
    display: block;
    width: 17px;
    height: 16px;
    float: left;
    margin-right: 3px;
}


/**/


/* PEN STYLES ========== */

a,
.side_menu {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


/* MENU CONTAINER ----- */

.side_menu {
    background: #3b0100;
    height: 100vh;
    left: -80%;
    position: absolute;
    top: 0;
    width: 80%;
    z-index: 99;
}

.side_menu .container {
    padding: 0 1em;
}


/* HAMBURGER STYLES ----- */

.burger_box {
    display: block;
    float: right;
    margin-right: -40px;
    margin-top: 5px;
}

.list_load .reward-notification {
    background: #450100;
    border-top: 1px solid #581a1b;
    border-bottom: 1px solid #581a1b;
    padding-left: 20px;
}

.list_load .reward-notification p {
    margin-bottom: 20px;
}

.list_load .reward-notification .bg-money {
    margin-left: 0;
}

.burger_box a.menu-icon {
    display: inline-block;
    float: none;
    height: 25px;
    padding: 10px;
    opacity: 1;
    width: 25px;
    z-index: 100;
}

.burger_box a.menu-icon:hover,
.burger_box a.menu-icon.opened {
    opacity: 1;
}

.burger_box a.menu-icon.opened {
    background: transparent;
}

.burger_box .menu-icon_box {
    display: inline-block;
    height: 25px;
    position: relative;
    text-align: left;
    width: 25px;
}

.burger_box .menu-icon_line {
    background: #ddab48;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: absolute;
    width: 100%;
}

.burger_box .menu-icon_line--1 {
    top: 2px;
}

.burger_box .menu-icon_line--2 {
    top: 10px;
}

.burger_box .menu-icon_line--3 {
    top: 18px;
}

.burger_box .menu-icon_line--1 {
    transition: top 200ms 250ms, transform 200ms;
    -webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
}

.burger_box .menu-icon_line--2 {
    transition: opacity 0ms 300ms;
    -webkit-transition: opacity 0ms 300ms;
}

.burger_box .menu-icon_line--3 {
    transition: top 100ms 300ms, transform 200ms;
    -webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
}

.burger_box .menu-icon.opened .menu-icon_box {
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
}

.burger_box .menu-icon.opened .menu-icon_line {
    top: 10px;
}

.burger_box .menu-icon.opened .menu-icon_line--1 {
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transition: top 100ms, transform 200ms 250ms;
    -webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
}

.burger_box .menu-icon.opened .menu-icon_line--2 {
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.burger_box .menu-icon.opened .menu-icon_line--3 {
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transition: top 200ms, transform 200ms 250ms;
    -webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
}


/* STAGGER LIST ----- */

.msg-notification {
    color: #fff;
    width: 25px;
    height: 25px;
    display: block;
    background: red;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
}

.burger_box .opened .msg-notification {
    display: none;
}

.list_load {
    display: none;
    list-style: none;
    padding: 0;
}

.list_item {
    margin-left: -20px;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding: 20px 10px;
}

.list_item a {
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.link-user a {
    display: inline-block;
}

.list_item a:hover {
    background: rgba(255, 255, 255, .2);
}

.account-login {
    float: right;
    position: absolute;
    top: 20%;
    right: 5%;
}

h1.page_title {
    color: #fff;
}

h4.what_to_do {
    color: #fff;
}

h2.menu_title {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    font-weight: bold;
    text-indent: 20px;
    -webkit-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.56);
}

.fa-account-white {
    width: 20px;
    height: 20px;
    background: url(../img/i-account-white.png) no-repeat;
    display: block;
    background-size: cover;
    float: left;
    margin-right: 5px;
}

.fa-account-yellow {
    width: 25px;
    height: 25px;
    background: url(../img/i-account-yellow.png) no-repeat;
    display: block;
    background-size: cover;
    float: left;
    margin-right: 5px;
    z-index: 1;
}

.page_title,
.what_to_do {
    font-weight: 300;
    line-height: 120%;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}


/*-- banner --*/

.banner {
    background: url(../img/banner.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    margin-top: -120px;
    z-index: 2;
    position: relative;
    min-height: 635px;
}

.banner .container {
    padding-right: 5px;
}

.banner-agileinfo {
    margin-top: 240px;
    float: right !important;
}

.banner-agileinfo h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 15px;
}

.banner-agileinfo h4 {
    color: #fff;
    font-size: 41px;
    margin: 0;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
}

.banner-agileinfo h4 span {
    padding: 15px 0;
    display: block;
    font-size: 130%;
}


/*-- //banner --*/


/*-- Slider Part starts Here --*/

#slider3,
#slider4 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 10%;
    text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 61%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 62px;
    width: 45px;
    margin-top: -65px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

a.callbacks_nav.callbacks1_nav.prev {
    background: transparent url("../images/themes.png") no-repeat 0px 0px;
    left: -3.1%;
}

.callbacks_nav.next {
    background: transparent url("../images/themes.png") no-repeat -46px 0px;
    left: 100%;
}

#slider3-pager a,
#slider4-pager a {
    display: inline-block;
}

#slider3-pager span,
#slider4-pager span {}

#slider3-pager span,
#slider4-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider3-pager .rslides_here a,
#slider4-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider3-pager a,
#slider4-pager a {
    padding: 0;
}

#slider3-pager li,
#slider4-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 120%;
    z-index: 999;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

ul.callbacks_tabs.callbacks2_tabs {
    top: 73%;
    left: 46%;
}

.slider-top {
    text-align: center;
    padding: 10em 0;
}

.slider-top h1 {
    font-weight: 700;
    font-size: 48px;
    color: #010101;
}

.slider-top p {
    font-weight: 400;
    font-size: 20px;
    padding: 1em 7em;
    color: #010101;
}

.callbacks_tabs li {
    margin-left: 5px;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%;
    }
}

.callbacks_tabs a {
    visibility: hidden;
}

.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width: 15px;
    height: 3px;
    display: inline-block;
    background: #fff;
}

.callbacks_here a:after {
    background: #ff322e;
}


/*-- Slider part Ends Here --*/


/*-- services --*/

.services {
    padding: 90px 0;
}

.services {
    background: url(../img/bg-input-number.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    height: 672px;
    margin-top: -60px;
    z-index: 1;
    position: relative;
}

.services .input-group-t {
    top: 54%;
    width: 100%;
    text-align: center;
    margin-top: 2.7rem;
}

.services h2 {
    text-align: center;
    font-family: 'Anton';
    font-size: 36px;
    margin-top: 107px;
    color: #deac47;
}

.services h3 {
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    margin-top: 40px;
}

.services h3 span {
    color: #deac47;
}

.services .services-left,
.services .services-right {
    display: inline-block;
    padding: 0 10px;
}

.services .services-left input,
.services .services-right input {
    font-weight: bold;
    background-color: transparent;
    text-align: center;
    color: #fff;
    font-size: 50px;
    width: 100%;
    border: none;
    height: 100%;
    font-family: 'roboto';
    padding:0;
    border: 2px solid #f2cc53;
    border-radius: 50px;
}

.services .services-left input:focus,
.services .services-right input:focus {
    border: 2px solid #f2cc53;
    border-radius: 50px;
    outline: none;
}

.services .services-left input::placeholder,
.services .services-right input::placeholder {
    color: #4d0a04;
    font-weight: bold;
}

.services button {
    width: 330px;
    height: 68px;
    background: url(../img/input-number.jpg) no-repeat;
    font-size: 24px;
    color: #694900;
    font-family: 'Anton', sans-serif;
    border: none;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    margin-top:30px;
}


/* //services */


/* rewarded */

.rewarded {
    background: url(../img/bg-rewarded.jpg) repeat;
}

.rewarded .title {
    color: #deac47;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    padding: 55px 0 40px 0;
}

.rewarded table {
    border-color: #642709;
    border-collapse: collapse;
    border-radius: 1.4em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 70px;
}

.rewarded .table>thead>tr>td,
.rewarded .table>tbody>tr>td,
.rewarded .table>tfoot>tr>td {
    padding: 30px;
}

.rewarded .table>tbody>tr>td.text-indent {
    text-indent: 40px;
}

.rewarded table>thead>tr {
    background: url(../img/bg-header-table.jpg) repeat-x;
    height: 48px;
}
.rewarded table>thead>tr>th {
    background: url(../img/bg-header-table.jpg) repeat-x;
    height: 48px;
    color: #fff;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.rewarded table tbody>tr>td {
    border-color: #581b1a;
}
.rewarded table tbody>tr>td:first-child {
    //border-right: 1px solid #581b1a;
}

.rewarded table>thead>tr>th {
    border: none;
}

.rewarded table>thead>tr>th:first-child {
    border-right: 1px solid #dba03c;
    width: calc( 100% - 8px );/* scrollbar is average 1em/16px width, remove it from thead width */
    display: block;
}

.rewarded .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #3b0100;
}

.rewarded .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #450100;
}

/*form-guest*/
.form-guess {
    background: url(../img/bg-form-guess.png) repeat;
}

.form-guess .title {
    color: #deac47;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    padding: 60px 0 40px 0;
}

.form-guess form {
    margin: 0 auto;
    padding: 60px 20px 40px 20px;
}

.form-guess #register .col-md-6 {
    padding-right: 40px;
    padding-left: 40px;
}

.form-guess .login-form form {
    margin: 0 auto;
    padding: 60px 245px 25px 245px;
}

.form-guess form label {
    font-weight: normal;
    margin-bottom: 5px;
}

.form-guess form input {
    height: 40px;
    line-height: 40px;
}

.form-guess form a {
    color: #e1ac46;
}

.form-guess .tab-content {
    background-color: #590006;
    border-radius: 1.4em;
    display: block;
    margin-bottom: 70px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.37);
    position: relative;
    z-index: 2;
}


/*form login*/

.form-guess .tab-content button {
    background: url(../img/bg-btn-login.jpg) no-repeat;
    width: 100%;
    height: 53px;
    border: none;
    margin: 20px auto 30px auto;
    color: #694801;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    margin-bottom: 50px;
}

.form-guess .tab-content button:hover {
    color: #fff;
}


/*form register*/
.phone-input-group {
    position: relative;
}
.phone-input-group label {
    color: #aaa;
    position: absolute;
    top: 25%;
    left: 10px;
    font-size: 14px;
    line-height: 20px;
}

.phone-input {
    text-indent: 40px;
    background: #fff url(../img/bg-phone-input.jpg) no-repeat left;
}

.form-guess .nav-tabs>li>a:hover,
.form-guess .nav-tabs>li>a:focus {
    background: url(../img/bg-tab.jpg) repeat-x;
    border: none;
}

.form-guess .nav-tabs {
    padding: 0 40px;
    border-bottom: none;
}

.form-guess .nav-tabs>li {
    margin-bottom: 0;
    border-collapse: collapse;
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;
    overflow: hidden;
    width: 49%;
    background: rgb(89, 0, 6);
    background: linear-gradient(0deg, rgba(89, 0, 6, 1) 2%, rgba(116, 0, 5, 1) 55%, rgba(181, 1, 4, 1) 100%);
    border: none;
    color: #fff;
}

.form-guess .nav-tabs>li:last-child {
    float: right;
}

.form-guess .nav-tabs>li>a {
    position: relative;
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    border: none;
    padding: 15px 22px;
    text-align: center;
}

.form-guess .nav-tabs>li.active,
.form-guess .nav-tabs>li.active,
.form-guess .nav-tabs>li.active {
    background: #590006;
    z-index: 3;
}

.form-guess .nav-tabs>li.active>a,
.form-guess .nav-tabs>li.active>a:hover,
.form-guess .nav-tabs>li.active>a:focus {
    border: none;
    color: #deac47;
    display: block;
    background: transparent;
}

.hi-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    line-height: 4.5em;
}

.hi-icon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {
    font-size: 25px;
    display: block;
}
.serw3agile-grid .hi-icon {
    background: #450100;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.serw3agile-grid .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.services-left:hover.serw3agile-grid .hi-icon,
.services-right:hover.serw3agile-grid .hi-icon {
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #8e8e8e;
    text-decoration: none;
}

.services-left:hover .serw3agile-grid .hi-icon:after,
.services-right:hover .serw3agile-grid .hi-icon:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}


/* //end form-gues */


/* Effect 8 */


/*-- //services --*/


/*-- footer --*/

.footer {
    padding: 5px 0 5px 0;
    background: #450100 url(../img/line-top-footer.jpg) top center no-repeat;
}


/*-- //footer --*/
.fb_iframe_widget {
    display: inline-block;
    position: unset !important;
    margin-top: 15px;
}
.fb_iframe_widget_fluid {
    display: block!important;
}
.popup {
    color: #fff;
}
.rewarded table table ,.rewarded table tr td {
    border:1px solid red
}
.rewarded table tbody {
    display:block;
    height:460px;
    overflow:auto;
}
.rewarded table thead, .rewarded table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.rewarded table thead {
    width: calc( 100% )/* scrollbar is average 1em/16px width, remove it from thead width */
}
.modal-header {
    background: url(../img/bg-header-table.jpg) repeat-x;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 1.4em;
    border-top-left-radius: 1.4em;
    font-family: 'Anton', sans-serif;
}
.modal-header .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
    font-size: 40px;
    font-weight: normal;
    margin-top: -13px;
}
.modal-content {
    background: #590006;
    border-radius: 1.4em;
    font-family: 'tahoma', sans-serif;
}
.modal-content .form-group {
    margin-bottom: 20px;
}
.modal-content .modal-footer {
    border: none;
    padding: 0 40px 40px 40px;
}
.modal-content .modal-body {
    padding: 40px;
}
.modal-content #profile--submit, .modal-content #changePassword--submit {
    background: linear-gradient(0deg, rgba(214,149,57,1) 2%, rgba(237,194,82,1) 55%, rgba(255,248,142,1) 100%);
    border: 1px solid #d69539;
}
.modal-content .modal-footer button {
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    padding: 10px 50px;
    text-transform: uppercase;
}
/*-- responsive --*/
@media (min-width: 1800px) {
    .container {
        width: 1100px;
    }
    .banner {
        min-height: 835px;
    }
    .banner-agileinfo {
        margin-top: 340px;
    }
    .banner-agileinfo h4 {
        font-size: 53px;
    }
}

Fixed table head - CSS-only
Simply position: sticky; top: 0; your th elements. (Chrome, FF, Edge)

@media (max-width: 1080px) {
    .container {
        width: 800px;
    }
    .header .container {
        width: 900px;
    }
    .services h2 {
        margin-top: 74px;
    }
.services button {
	width: 260px;
        height: auto;
}
    .services .input-group-t {
        margin-top: 2.2rem;
    }
    .services button {
        bottom: 105px;
    }
    .services {
        height: 590px;
    }
    .nav>li>a {
        padding: 22px 17px !important;
    }
    .footer {
        padding: 19px 0 7px 0;
    }
}

@media (max-width: 991px) {
    .container,
    .header .container {
        width: 770px;
    }
    .banner {
        min-height: 520px;
    }
    .banner-agileinfo {
        margin-top: 210px;
    }
    .nav>li>a {
        font-size: 14px;
        padding: 18px 12px !important;
    }
}

@media (max-width: 800px) {
    .nav>li>a {
        font-size: 14px;
        padding: 18px 12px !important;
    }
    .footer {
        padding: 19px 0 10px 0;
    }
}

@media (max-width: 767px) {
    .nav>li>a {
        padding: 15px 0px !important;
    }
}

@media (max-width: 667px) {
    .hi-icon {
        width: 57px;
        height: 57px;
        line-height: 3em;
    }
}

@media (max-width: 640px) {
    .rewarded table.table-striped tbody td {
        height:80px;
    }
	.rewarded table>thead>tr>th:first-child {
    		width: calc( 100% );/* scrollbar is average 1em/16px width, remove it from thead width */
	}
    .services-left,
    .services-right {
        padding: 0 10px;
    }
    .services .input-group-t {
        margin-top: 1rem;
    }
    .banner {
        margin-top: -30px;
        height: 240px;
        min-height: 1px;
    }
    .hi-icon:before {
        font-size: 20px;
    }
._2tga._3e2a {
height: 20px;
}

@media (max-width: 480px) {
    html,
    body {
        font-size: 13px;
    }
    .container {
        width: 360px;
    }
    .header {
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-guess .nav-tabs {
        padding: 0 15px;
    }
    .form-guess .tab-content {
        border-radius: 10px;
    }
    .form-guess .nav-tabs>li {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .services button {
    height: auto;
    font-size: 12px;
    width: 120px;
    margin-top: 10px;
    }
.fb_iframe_widget {
 margin-top: 5px;
}
    .services .services-left input,
    .services .services-right input {
        height: 100%;
        width: 100%;
        font-size: 30px;
        line-height: 37px;
    }
    .services h2 {
        font-size: 18px;
        margin-top: 0px;
    }
    .services h3 {
        font-size: 9px;
        margin-top: 10px;
    }
    .services h3 span {
        color: #deac47;
    }
    .hi-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .rewarded .title {
        font-size: 20px;
        padding: 40px 0 25px 0;
    }
    .rewarded table {
        margin-bottom: 30px;
    }
    .form-guess .title {
        font-size: 24px;
        padding: 50px 0 40px 0;
    }
    .form-guess .nav-tabs>li>a {
        font-size: 15px;
    }
    .form-guess .login-form form {
        padding: 60px 15px 25px 15px;
    }
    .rewarded .table>thead>tr>td,
    .rewarded .table>tbody>tr>td,
    .rewarded .table>tfoot>tr>td {
        text-indent: 0;
        padding: 15px;
    }
    .rewarded .table>tbody>tr>td.text-indent {
        text-indent: 0;
        padding: 15px;
    }
    .form-guess .nav-tabs>li>a {
        padding: 5px 0 !important;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-guess form input {
        height: 35px;
        line-height: 35px;
    }
    .form-guess .tab-content button {
        height: 45px;
        font-size: 16px;
    }
    .form-guess .register-form .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .phone-input-group label {
        top: 20%;
    }
    .banner {
        margin-top: -30px;
        height: 240px;
        min-height: 1px;
    }
    .banner-agileinfo {
        margin-top: 100px;
    }
    .banner-agileinfo h4 {
        font-size: 20px;
        line-height: normal;
    }
    .banner-agileinfo h4 span {
        padding: 5px 0;
    }
    .services {
        height: 290px;
        margin-top: -30px;
    }
    .footer img {
        height: 40px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 320px;
    }
    .banner {
        margin-top: -30px;
        height: 200px;
        min-height: 1px;
    }
    .banner-agileinfo {
        margin-top: 80px;
    }
    .banner-agileinfo h4 {
        font-size: 18px;
    }
    .nav>li>a {
        padding: 10px 0px !important;
    }
    .footer {
        padding: 12px 0 12px 0;
    }
}
